@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

#add-icon,
#shuffle-icon,
#mutator-icon,
#close-icon {
    display: none;
}

#run-icon,
#clear-icon {
    opacity: 0
}

.CodeMirror-line {
    font-family: 'Chivo' !important;
    font-family: 'Libre Baskerville' !important;
    font-size: 5rem !important;
}

.cm-comment,
.cm-s-tomorrow-night-eighties span.cm-variable,
.cm-s-tomorrow-night-eighties .CodeMirror-line span,
.cm-s-tomorrow-night-eighties span.cm-number {
    color: white !important
}